.container {
  padding: 95px 10%;
  min-height: 100vh;
}
@media (max-width: 1300px) {
  .container {
    padding: 90px 5%;
  }
}
@media (max-width: 500px) {
  .container {
    padding: 100px 5%;
  }
}
